* {
    background-color:floralwhite;
    font-style: normal;
    font-family:sans-serif;
    
}
img{
    height: auto;
    width: 400px;
}
.heading3{
font-family: Georgia, 'Times New Roman', Times, serif;
color: aquamarine;
}